* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  font-size: 62.5%;
  background-color: #212121;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.App {
  font-family: sans-serif;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #151515;
  height: 6rem;
  box-sizing: border-box;
  padding: 0px 10px;
}
.logo {
  font-size: 2rem;
  color: #999;
}
nav ul {
  display: flex;
}
nav ul li a {
  font-size: 1.6rem;
  color: #999;
  letter-spacing: 1px;
}
.sidebar {
  background-color: #171717;
  position: absolute;
  top: 6rem;
  left: 0px;
  height: calc(100vh - 6rem);
  width: 20rem;
}
.sidebar-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 1rem;
}
.sidebar-items li {
  margin: 1rem 0.5rem;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  font-size: 1.7rem;
  color: #999;
  font-weight: bold;
  letter-spacing: 0.1rem;
  transition: all 0.25s;
  text-align: left;
}
.sidebar-items li:hover {
  background-color: #212121;
  border-radius: 1rem;
}
.form-builder {
  box-sizing: border-box;
  padding: 1rem;
  margin-left: 20rem;
  /* background-color: red; */
}
.btn {
  padding: 1rem;
  min-width: 13rem;
  border-radius: 30px;
  border: none;
  margin: 0 1rem;
}
.btn:hover {
  cursor: pointer;
}
.btn-primary {
  background-color: rgb(75, 164, 236);
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.4s;
}
.btn-primary:hover {
  background-color: rgb(75, 164, 236);
}
.btn-secondary:hover {
  background-color: rgb(77, 76, 76);
}
.btn-secondary {
  background-color: grey;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}
.btn-danger {
  background-color: rgb(248, 86, 86);
  color: #111;
  font-weight: bold;
  text-transform: uppercase;
}
.btn-create {
  background-color: rgb(1, 168, 1);
  border: 1px solid rgb(1, 168, 1);
  color: #eee;
  border-radius: 10px;
}
.btn-create:hover {
  background-color: rgb(3, 189, 3);
  border: 1px solid rgb(1, 168, 1);
  color: #eee;
  border-radius: 10px;
}
.template-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  flex-wrap: wrap;
}
.badge-secondary {
  height: 1rem;
  width: auto;
  padding: 0.4rem 0.7rem;
  background-color: grey;
  color: white;
  margin: 1rem;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  border-radius: 0.5rem;
}
.template-title {
  background-color: #212121;
  border: none;
  border-bottom: 2px solid #171717;
  font-size: 2rem;
  padding: 0.5rem;
  color: grey;
  outline: none;
  transition: all 0.2s;
  transition-timing-function: cubic-bezier(0.1, 0.7, 1, 0.1);
}
.template-title:focus {
  border-bottom: 2px solid rgb(173, 173, 255);
  width: 40rem;
}

.form-control {
  padding: 1rem;
  margin-bottom: 1rem;
}
.form-control label {
  font-size: 1.6rem;
  color: #888;
  font-weight: 400;
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  display: block;
  text-align: left;
  margin-bottom: 1rem;
}

.form-control input,
select {
  padding: 1rem;
  width: 100%;
  background-color: #212121;
  border: 1px solid #212121;
  border-radius: 1rem;
  outline: none;
  color: #888;
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
}
.form-control input:hover {
  outline: 1px solid rgb(5, 167, 216);
  outline-radius: 1rem;
}
.form-control textarea {
  height: 13rem;
  padding: 1rem;
  width: 100%;
  background-color: #212121;
  border: 1px solid #212121;
  border-radius: 1rem;
  outline: none;
  color: #888;
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
}
.form-preview {
  /* margin-left: 20rem;
  padding: 1.5rem;
  background-color: #161616; */
  background-color: #161616;
  height: auto;
}
.dropZone {
  border: 1px dashed black;
  background-color: #161616;

  height: auto;
}
.dropZone-title {
  font-size: 2.2rem;
  font-weight: 400;
  text-align: center;
  color: grey;
}
.builder-mode {
  border: 1px dashed grey;
}
.icons-container {
  text-align: right;
}
.icons {
  color: grey;
  font-size: 1.4rem;
  margin: 0 0.3rem;
}
.icons:hover {
  cursor: pointer;
}
.icon-danger {
  color: red;
}
.icon-primary {
  color: rgb(93, 195, 253);
}
/* Slider Styling */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 25px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider.round {
  border-radius: 25px;
}

.slider.round:before {
  border-radius: 50%;
}
input:checked + .slider {
  background-color: rgb(3, 189, 3);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.input-radio-control,
.input-checkbox-control {
  font-size: 1.6rem;
  color: #888;
  margin: 1rem;
}
.input-radio-control label,
.input-checkbox-control label {
  margin-left: 1rem;
}
/* End of Slider Styling */

/* Modal Styling */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);
}
.backdrop .modal {
  z-index: 100;
  width: 450px;
  height: 450px;
  background: #151515;
  border-radius: 10px;
  position: relative;
  color: #888;
  animation: animate 0.3s;
}
.modal-heading {
  text-transform: uppercase;
  font-size: 2.4rem;
  color: #888;
  letter-spacing: 0.1rem;
  font-weight: 400;
  background-color: #111;
  padding: 2rem 0.7rem;
  margin: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.close-modal {
  position: absolute;
  top: 2rem;
  right: 7px;
  font-size: 2.5rem;
  color: rgb(243, 84, 84);
  font-weight: bold;
  border: none;
  outline: none;
  border-radius: 2px;
  cursor: pointer;
}
.modal-content {
  height: 35rem;
  overflow-x: hidden;
  overflow-y: scroll;
}
.modal-footer {
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  background-color: #111;
}
/* End of Modal Styling */
.options-control {
  display: flex;
  margin-bottom: 1rem;
  box-sizing: border-box;
}
.options-control input {
  margin-right: 1rem;
}
